---
Checks: "-*,
  abseil-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -header-filters=.*
"
WarningsAsErrors: ""
UseColor: true
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: NULL
